*


!/TaxiService.Tests/
!/TaxiService.Data/
!/TaxiService.Business/
!/TaxiService/
!/.gitignore

/TaxiService.Tests/**
/TaxiService.Data/**
/TaxiService.Business/**
/TaxiService/**


!/TaxiService.Tests/TaxiRideModuleTests.cs
!/TaxiService.Tests/TaxiService.Tests.csproj

!/TaxiService.Data/TaxiService.Data.csproj
!/TaxiService.Data/TaxiServiceContext.cs
!/TaxiService.Data/Models/
!/TaxiService.Data/Models/**/*

!/TaxiService.Business/TaxiService.Business.csproj
!/TaxiService.Business/Modules/
!/TaxiService.Business/Modules/**/*

!/TaxiService/App.xaml
!/TaxiService/App.xaml.cs
!/TaxiService/AssemblyInfo.cs
!/TaxiService/MainWindow.xaml
!/TaxiService/MainWindow.xaml.cs
!/TaxiService/StatusChangeDialog.xaml
!/TaxiService/StatusChangeDialog.xaml.cs
!/TaxiService/TaxiService.WPF.csproj
!/TaxiService/TaxiService.WPF.csproj.user
!/TaxiService/Converters/
!/TaxiService/Converters/**/*
!/TaxiService/bin/
!/TaxiService/bin/Release/
!/TaxiService/bin/Release/**/*